.sold-cattle-row {
  background-color: #ffeaea !important;
  color: #b71c1c !important;
  font-weight: bold;
}

.custody-cattle-row {
  background-color: #fff9e1 !important;
  color: #bfa100 !important;
  font-weight: bold;
} 